/* HTML Global Objects -----------------*/

body{
    font-family: 'Montserrat';
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h3{
    font-size: 1.5rem;
    font-weight: 900;
}

p{
    color: #8f8f8f;
}

/*----------------- HTML Global Objects */

/* Header Section -----------------*/

#title{
    background-color: #FF4C68;
    color: white;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
}

.download-button{
    margin: 5% 3% 5% 0;
}

    /* NavBar ----------------*/

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link{
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 400;
}

.nav-item{
    padding: 0 18px;
}

    /*---------------- NavBar */

/*----------------- Header Section */

/* Features Section -----------------*/

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.feature-icon{
    margin-bottom: 1rem;
    color: #ef8172;
}

.feature-icon:hover{
    color: #ff4c68;
}

/*----------------- Features Section*/

/* Other -----------------*/

.container-fluid{
    padding: 3% 15%;
}

/*----------------- Other */