/* HTML Global Objects -----------------*/

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 900;
}

p {
  color: #8f8f8f;
}

/*----------------- HTML Global Objects */

/* Global Class -----------------*/

.container-fluid {
  padding: 7% 15%;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5; 
}

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
    color: #000;
}

/*----------------- Global Class */

/* Header Section -----------------*/

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
  }

.title-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

@media (max-width: 990px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
    width: 60%;
  }

  #title {
    text-align: center;
  }
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* NavBar ----------------*/

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 18px;
}

/*---------------- NavBar */

/*----------------- Header Section */

/* Features Section -----------------*/

#features {
  position: relative;
}

.feature-title{
    font-size: 1.5rem; 
}

.feature-box {
  padding: 4.5%;
}

.feature-icon {
  margin-bottom: 1rem;
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

/*----------------- Features Section*/

/* Testimonials Section -----------------*/

#testimonials {
  background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5; 
}

.testimonial-image {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

/*----------------- Testimonials Section*/

/* Press Section -----------------*/

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/*----------------- Press Section*/

/* Pricing Section -----------------*/

.pricing-plan{
    font-size: 1.5rem; 
}

.price-amount{
    font-size: 3rem;
    line-height: 1.5; 
}

.pricing-column {
  padding: 3% 2%;
}

/*----------------- Pricing Section*/

/* CTA Section -----------------*/

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/*----------------- CTA Section*/

/* Footer Section -----------------*/

.footer-icon {
  margin: 20px 10px;
}

/*----------------- Footer Section*/
